body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .headerOfTable{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  
  table {
    border-collapse: collapse;
    font-size: 22px;
  }
  tr, th, td {
    text-align: center;
    border: 1px solid;
    font-size: 16px;
  }
  
  th, td {
    padding: 2%;
  }
  .tableOfStudents{
    margin-top: 70px;
  }
  
  .circle.active{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(20, 176, 9);
  }
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(91, 91, 91);
  }
  
  .modal {
    border: 1px solid rgb(33, 33, 33);
    position: absolute;
    width: 130px;
    height: 150px;
    background-color: #eceaea;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: none;
    margin-top: 40px;
  }
  
  .modal a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: rgb(33, 33, 33);
  }
  
  .modal a:hover {
    background-color: #eceaea;
  }
  
  .drop .drop2 {
    position: relative;
    display: block;
  }
  
  .drop2:hover .notifications{
    display: block;
  }
  
  .drop:hover .modal{
    display: block;
  }
  
  .tableButton{
    width: 25px;
    height: 25px;
  }
  .buttonContainer{
    gap: 2px;
  }
  p{
    display: inline-block;
    margin-left: 30px;
  }
  .modal a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #000;
  }
  
  .modal a:hover {
    background-color: #f1f1f1;
  }
  .notificationCircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A11D1D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFF88;
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    z-index: 1;
    position: absolute;
  }
  .bell {
    animation: bell 1s 3;
    height: 40px;
    width: 40px;
    color: black;
  }
  .drop{
    position: relative;
    display: block;
  }
  .drop:hover .modal{
    display: block;
  }
  .photo{
    height: 40px;
    width: 40px;
  }
  .infoContainer{
    gap: 20px;
  }
  .plusButton{
    right: 17.5%;
  }
  @keyframes bell {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(5deg);
    }
    30% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(-15deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px;
  }
  
  .pagination li {
    list-style: none;
    margin: 0 10px;
  }
  
  .pagination li a,
  .pagination li span {
    padding: 5px 10px;
    border-radius: 4px;
    color: #333;
  }
  
  .pagination li a:hover {
    background-color: #e9ecef;
  }
  
  .pagination .active a,
  .pagination .active span {
    background-color: #007bff;
    color: #fff;
  }
  a{
    text-decoration: none;
  }
  
  .btn40x40{
    height: 40px;
    width: 40px;
  }
  